.nunito-200 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.nunito-600 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

$bjj-blue: #147bd1;

html {
  background-color: #ffffff;
}
html,
body {
  position: relative;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  @media (min-width: 120rem) {
    max-width: 120rem;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 5.625rem;
}
/* nav styles */
// Logo and brand styles

nav {
  &.navbar.navbar-expand-lg.bg-body-tertiary {
    width: 100%;
    padding: 2rem;
    border: #000000 1px solid;
    @media (min-width: 75rem) {
      padding: 3.125rem;
      max-width: calc(100% - 17.5rem);
      justify-content: center;
      margin: 0 auto;
    }
  }
  .navbar-brand {
    max-width: 70%;
    @media (min-width: 37.5em) {
      max-width: 100%;
    }
    .navbar-brand__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbar-brand__logo--img {
      height: 5.625rem;
      width: auto;
      margin: 0;
      margin-right: 1.25rem;
      &:hover {
        color: $bjj-blue;
      }
    }
    .navbar-brand__logo--text {
      p:first-child {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
      }
      p:last-child {
        font-size: 0.98rem;
        font-weight: 400;
        margin: 0;
        text-wrap: wrap;
      }
      @media (min-width: 37.5em) {
        p:first-child {
          font-size: 1.75rem;
        }
      }
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 1.38rem;
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        padding: 0.7rem;
        font-size: 1.3125rem;
        font-weight: 400;
        color: #000000;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $bjj-blue;
        }
      }
    }
  }
  .navbar-toggler {
    transform: scale(1.5);
    transform-origin: center;
    border-color: #000000;
    border-radius: 0.3rem;
    border-width: 0.15rem;
  }
  .offcanvas-header .btn-close {
    transform: scale(2);
    transform-origin: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.85rem;
    margin-right: 0.85rem;
  }
}
.mobile-navbar-offcanvas {
  @media (min-width: 992px) {
    display: none;
  }
}

footer {
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  // bottom: 0;
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  border: #000000 1px solid;
  display: flex;
  justify-content: center;
  margin: auto auto 0;

  @media (min-width: 75rem) {
    padding: 3.125rem;
    max-width: calc(100% - 17.5rem);
    justify-content: flex-start;
  }
  ul.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5625rem;
    @media (min-width: 62rem) {
      margin-bottom: 0;
      justify-content: flex-start;
    }
    li {
      margin: 0;
      padding: 0;
      margin-right: 1.5625rem;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 1.125rem;
      font-weight: 400;
    }
    i {
      font-size: 3.125rem;
      height: auto;
      color: #000;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $bjj-blue;
      }
    }
  }
  .copyright-mobile {
    display: block;
    text-align: center;
    @media (min-width: 48em) {
      display: none;
    }
  }
  .copyright-desktop {
    display: none;
    font-size: 0.96rem;
    @media (min-width: 48em) {
      text-align: right;
      display: block;
      padding-right: 0.7rem;
    }
    @media (min-width: 75em) {
      font-size: 1rem;
    }
  }
}

.content {
  flex-grow: 1;
  position: relative;
  width: 100%;
  padding: 2rem;
  @media (min-width: 75rem) {
    padding: 9.375rem;
    width: calc(100% - 17.5rem);
    justify-content: center;
    margin: 0 auto;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 21.875rem;
  }
  &::before {
    left: -1px;
    border-left: solid 1px black;
  }
  &::after {
    right: -1px;
    border-right: solid 1px black;
  }
}

.contact-page {
}

.contact-form {
  display: flex;
  flex-direction: column;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.6s;
  animation-fill-mode: forwards; /* important if you mix durations */
  animation-timing-function: var(--default-ease);
}
