.nunito-200 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.nunito-600 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

$bjj-blue: #147bd1;

html,
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  line-height: 1.5;
  background-color: #ff9776;
}
html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
/* nav styles */
// Logo and brand styles

nav {
  &.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 2rem;
    border: #000000 1px solid;
    @media (min-width: 75rem) {
      padding: 3.125rem;
      max-width: calc(100% - 17.5rem);
      justify-content: center;
      margin: 0 auto;
    }
  }
  .navbar-brand {
    max-width: 70%;
    @media (min-width: 37.5em) {
      max-width: 100%;
    }
    .navbar-brand__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbar-brand__logo--img {
      height: 5.625rem;
      width: auto;
      margin: 0;
      margin-right: 1.25rem;
      &:hover {
        color: $bjj-blue;
      }
    }
    .navbar-brand__logo--text {
      p:first-child {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
      }
      p:last-child {
        font-size: 0.98rem;
        font-weight: 400;
        margin: 0;
        text-wrap: wrap;
      }
      @media (min-width: 37.5em) {
        p:first-child {
          font-size: 1.75rem;
        }   
      }
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 1.38rem;
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        padding: 0.7rem;
        font-size: 1.3125rem;
        font-weight: 400;
        color: #000000;
        &:hover {
          color: $bjj-blue;
        }
      }
    }
  }
  .navbar-toggler {
    transform: scale(1.5);
    transform-origin: center;
    border-color: #000000;
    border-radius: 0.3rem;
    border-width: 0.15rem;
  }
  .offcanvas-header .btn-close {
    transform: scale(2);
    transform-origin: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.85rem;
    margin-right: 0.85rem;
  }
}
.mobile-navbar-offcanvas {
  @media (min-width: 992px) {
    display: none;
  }
}









.content {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
}
@view-transition {
  navigation: auto;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.6s;
  animation-fill-mode: forwards; /* important if you mix durations */
  animation-timing-function: var(--default-ease);
}
