.nunito-200 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.nunito-600 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

$bjj-blue: #147bd1;

html,
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

html {
  font: 3vw/1.3 "Nunito", Arial, sans-serif;
  background-color: #ffffff;
  font-optical-sizing: auto;
  font-weight: 400;
  @media (min-width: 35em) {
    font-size: 16px;
  }
}

body {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #000;
  @media (min-width: 120rem) {
    max-width: 120rem;
  }
}
main {
  flex-grow: 1;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 5.625rem;
}
/* nav styles */
// Logo and brand styles

nav {
  &.navbar.navbar-expand-lg {
    width: 100%;
    padding: 2rem;
    border: #000000 1px solid;
    @media (min-width: 75rem) {
      padding: 3.125rem;
      max-width: calc(100% - 17.5rem);
      justify-content: center;
      margin: 0 auto;
    }
  }
  .navbar-brand {
    max-width: 70%;
    @media (min-width: 37.5em) {
      max-width: 100%;
    }
    .navbar-brand__logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbar-brand__logo--img {
      height: 5.625rem;
      width: auto;
      margin: 0;
      margin-right: 1.25rem;
      &:hover {
        color: $bjj-blue;
      }
    }
    .navbar-brand__logo--text {
      p:first-child {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 0;
      }
      p:last-child {
        font-size: 0.98rem;
        font-weight: 400;
        margin: 0;
        text-wrap: wrap;
      }
      @media (min-width: 37.5em) {
        p:first-child {
          font-size: 1.75rem;
        }
      }
    }
  }
  .navbar-nav {
    .nav-item {
      margin-right: 1.38rem;
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        padding: 0.7rem;
        font-size: 1.3125rem;
        font-weight: 400;
        color: #000000;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $bjj-blue;
        }
      }
    }
  }
  .navbar-toggler {
    transform: scale(1.5);
    transform-origin: center;
    border-color: #000000;
    border-radius: 0.3rem;
    border-width: 0.15rem;
  }
  .offcanvas-header .btn-close {
    transform: scale(2);
    transform-origin: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.85rem;
    margin-right: 0.85rem;
  }
}
.mobile-navbar-offcanvas {
  @media (min-width: 992px) {
    display: none;
  }
}

p {
  margin: 0;
}

.content {
  flex-grow: 1;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 4.375rem 2rem;
  @media (min-width: 65rem) {
    padding: 4.375rem;
  }
  @media (min-width: 75rem) { 
    width: calc(100% - 17.5rem);
    justify-content: center;
    margin: 0 auto;
    border-left: dashed 1px black;
    border-right: dashed 1px black;
  }
  @media (min-width: 85.375rem) {
    padding: 9.375rem;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 21.875rem;
  }
  &::before {
    left: -1px;
    border-left: solid 1px black;
  }
  &::after {
    right: -1px;
    border-right: solid 1px black;
  }
}

footer {
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  border: #000000 1px solid;
  display: flex;
  justify-content: center;
  margin: auto auto 0;

  @media (min-width: 75rem) {
    padding: 3.125rem;
    max-width: calc(100% - 17.5rem);
    justify-content: flex-start;
  }
  ul.footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5625rem;
    @media (min-width: 62rem) {
      margin-bottom: 0;
      justify-content: flex-start;
    }
    li {
      margin: 0;
      padding: 0;
      margin-right: 1.5625rem;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      text-decoration: none;
      color: #000;
      font-size: 1.125rem;
      font-weight: 400;
    }
    i {
      font-size: 5rem;
      height: auto;
      color: #000;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $bjj-blue;
      }
      @media (min-width: 48em) {
        font-size: 3.125rem;
      }
    }
  }
  .copyright {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    span {
      display: none;
    }
    @media (min-width: 48em) {
      font-size: 0.96rem;
      text-align: right;
      padding-right: 0.7rem;
      span {
        display: inline;
      }
      br {
        display: none;
      }
    }
    @media (min-width: 75em) {
      font-size: 1rem;
    }
  }
}

.contact-section {
  h2 {
    font-size: 5.625rem;
    margin-bottom: 3rem;
  }
  p.page-intro {
    font-size: 1.75rem;
    margin-bottom: 0;
  }
}

.page-home {
  .lead {
    font-size: 1.875rem;
    margin-top: 1.25rem;
  }
  .john-picture {
    width: 100%;
    height: auto;

    object-fit: contain;
    object-position: top;
    border: #000000 1px solid;
    margin-top: 2rem;
    margin-bottom: 4.375rem;
    @media (min-width: 48em) {
      margin: 0;
    }
  }
  .content.home-intro {
    min-height: auto;
    @media (min-width: 75em) {
      min-height: 100vh;
       
    }
  }
  .projects-section {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: -4rem;
    @media (min-width: 75em) {
      margin-top: -14rem;
    }
    h1 {
      margin-bottom: 3rem;
      @media (min-width: 48em) {
        display: none;
      }
    }
    .projects-list {
      .list-style-none {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        li {
          list-style: none;
          &:last-child {
            margin-bottom: 4.375rem;
          }
          a {
            width: 100%;
            height: auto;
            display: block;
          }
        }
        @media (min-width: 48em) {
          gap: 0;
          grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 75em) {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
      .project_screenshot {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;
        border: #000000 2px solid; 
        box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.7);
        @media (min-width: 48em) {
          &:hover {
            transition: all 0.3s ease-in-out;
            scale: 1.02;
          }
          &.--1 {
            z-index: 3;
            transform: rotate(-17deg);
          }
          &.--2 {
            z-index: 6;
            transform: rotate(4deg);
          }
          &.--3 {
            z-index: 4;
            transform: rotate(10deg);
          }
          &.--4 {
            z-index: 2;
            transform: rotate(-9deg);
          }
          &.--5 {
            z-index: 5;
            transform: rotate(17deg);
          }
          &.--6 {
            z-index: 1;
            transform: rotate(32deg);
          }
        }
      }
    }
  }
}
.contact-form {
  width: 100%;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  .form-row {
    display: flex;
    flex-direction: column;
    @media (min-width: 62em) {
      flex-direction: row;
      gap: 1.875rem;
      .form-group {
        width: 50%;
      }
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
    label {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    input {
      height: 3.125rem;
      padding: 1.25rem 0.9rem;
      border: #000000 1px solid;
    }
    textarea {
      padding: 1.25rem 0.9rem;
      border: #000000 1px solid;
      resize: vertical;
    }
  }
  button {
    width: 100%;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    outline: #000000 1px solid;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.9375rem 2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: $bjj-blue;
      color: #fff;
      outline: $bjj-blue 1px solid;
    }
    @media (min-width: 48em) {
      max-width: 25rem;
    }
  }
}

@view-transition {
  navigation: auto;
}

::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 0.6s;
  animation-fill-mode: forwards; /* important if you mix durations */
  animation-timing-function: var(--default-ease);
}
