---
import BaseLayout from '../layouts/BaseLayout.astro'; 
 

const pageTitle = "About Me";
 
---
 
<BaseLayout pageTitle={pageTitle}>
    <div class="content">
      <div class="row">
        <div class="col">
          <h1>About <menu type="context"></menu></h1>
          <h2>... and my new Astro site!</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amemnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>nis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lore incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium provident facere necessitatibus optio, fugit exercitationem eum saepe incidunt omnis rerum similique architecto, atque nisi distinctio obcaecati mollitia sint minus sapiente?</p>
          <p>rem natus libero error assumenda, beatae reprehenderit blanditiis aut hic maxime ullam fugit, animi nulla quibusdam velit fuga nesciunt?</p>
        </div>
      </div>
    </div>
</BaseLayout> 
