---
import ContactForm from '../components/ContactForm.astro'; 
import BaseLayout from '../layouts/BaseLayout.astro'; 
 
const pageTitle = "Contact Me";
const description = 'Get in touch';
// export const prerender = false;
--- 
<head> 
    <title>{pageTitle}</title>
    <meta name="description" content={description} />
</head>
<BaseLayout> 
	<div class="content">
		<div class="row">
			<div class="col">
				 <ContactForm />
			</div>
		</div>
	</div>
</BaseLayout> 