---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/bootstrap.scss";
import "../styles/global.scss"; 
const { pageTitle } = Astro.props;

const { bodyClass: customClass } = Astro.props;

const pathname = Astro.url.pathname;
const slug = pathname === "/" ? "home" : pathname.replace(/\//g, "-").replace(/^-|-$/g, "");
const autoClass = `page-${slug}`; 
const bodyClass = customClass ?? autoClass;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://kit.fontawesome.com/83b86983a1.js" crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | John Davidson Website Designer & Developer</title> 
  </head>

  <body class={bodyClass}>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
      import "../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js";
    </script>
  </body>
</html>
